<header>
  <h1>Choisir son chiot</h1>
</header>
<div class="container">
  <div class="box">
    <h2>Choisir la race de chien qui nous correspond</h2>
    <p> Tout comme les humains, les chiens ont des besoins et des envies differents, c'est
      pourquoi il est important de se renseigner avant de penser à l'adoption sur ses capacités à
      prendre un chien et à lui fournir tout l'amour et l'exercice dont il aura besoin.
  </div>
  </p>
  <div class= "box">
    <h2>
      Les questions à se poser
    </h2>
    <ul>
      <li> Comment ferais-je pour partir en vacances?</li>
      <li> Suis-je prêt à me lever la nuit pour apprendre la propreté à un chiot?</li>
      <li> Aurais-je la patience de ramasser ses possibles betises sans m'enerver même
        après une journée difficile?
      </li>
      <li> Pourrais-je payer les soins veterinaires en cas de soucis?</li>
      <li> Pourrais-je le sortir au moins deux heures par jour quelque soit le temps? </li>
    </ul>
  </div>
  <div class="box">
    <p> Si après avoir répondu à ses questions vous êtes toujours partant alors nous
      allons pouvoir nous concentrer sur comment choisir son chiot dans une portée.
    </p>

    <h2> L'état de santé du chiot</h2>
    <p> Le chien ne doit pas tituber, boiter, manquer d'équilibre ou marcher avec la tête penché d'un coté.
      La truffe et les yeux du chiot ne doivent pas couler, faire de croutes ou etre rouges. Les
      oreilles doivent être propres et sans odeurs. Et enfin le poil et la peau doivent être sains, sans parasites.
    </p>
  </div>

  <div class="box">
    <h2>Se faire une idée du caractère du chiot</h2>
    <p> Ca y est, nous y sommes. Vous avez choisit la race qui correspond à votre
      mode de vie et vous allez maintenant devoir choisir un chiot au milieu d'une
      portée d'adorables petites boules de poils. Même si certaines personnes fonctionnent
      au coup de coeur (ce qui est mon cas j'avoue), il est parfois plus sûr d'avoir
      une idée du caractère du chien une fois adulte. Bien que ces méthodes ne soient
      pas exactes à 100% et que le vécu du chien jouera plus sur son caractère que la
      génétique, on peut tenter les test suivants:
    </p>
    <ul>
      <li> Placer vous au milieu de la portée, sans bouger et observer les chiots,
        il est possible que certains soient déjà en train de mordiller vos lacets,
        ce seront les chiots les plus curieux (cela facilite beaucoup le dressage mais augmente
        les risques de blessures car ils auront tendance à vouloir tout voir tout explorer et tout goûter). Si
        certains chiots se sont enfuis quand vous etes rentré dans la pièce et qu'il ne sont
        toujours pas ressortis, ce sont les plus craintifs (ils seront très proches de vous mais risque d'avoir du
        mal avec la nouveauté, les demenagements, l'arrivée d'un nouveau membre dans la famille et supporteront difficilement la
        solitude), ceux qui vous ignorent royalement ou qui vous surveillent sans pour autant arreter ce qu'ils etaient
        en train de faire seront les plus independants et demanderont un dressage plus équilibrés.
      </li>
      <li>Saisissez chaque chiot, caressez-le et faites-lui des papouilles. Ce n'est pas bon signe s'il se met à gigoter et à couiner. Vous pouvez avoir des problèmes de comportement avec un chiot délicat ou qui a peur d'être manipulé. Mais c'est meilleur signe s'il se débat un peu au début, mais finit par se calmer et par vous regarder gentiment.
      Touchez les chiots aux pattes, sur la gueule et aux oreilles pour vérifier leur réaction. Un chiot qui a été manipulé depuis son plus jeune âge se laissera volontiers tripoter à ces endroits.</li>
      <li> Il existe differents test très connus et qui seront plus ou moins appréciés selon les personnes, je les note à titre d'informations mais
        gardez à l'esprit que nos connaissances sur le monde canins ont beaucoup évoluées depuis la création de ces tests et qu'ils ne doivent donc pas vous décourager en
      cas de coup de coeur.
      <ul>
        <li>Test de Campbell</li>
        <li>Test du miroir</li>
        <li>Test du jouet mécanique</li>
      </ul>
      </li>
    </ul>
  </div>

</div>
