
<div class="home">
<div class="containers">
<a href= "/choisirsonchiot", target="blank">
    <div class="card">
      <h2>
        Choisir son chiot
      </h2>
    </div>
  </a>

  <a href= "/lecoinapprentissage", target="blank">
    <div class="card">
      <h2>
        Le coin apprentissage
      </h2>
    </div>
  </a>

  <a href="/lecoinjeux" target="blank">
    <div class="card">
      <h2>
      Le coin jeux
      </h2>
    </div>
  </a>

  <a href="/lecoinveto" target="blank">
    <div class="card">
      <h2>
      Le coin véto
      </h2>
    </div>
  </a>

  <a href="/quelquesadresses" target="blank">
  <div class="card">
    <h2>
      Quelques addresses
    </h2>
  </div>
  </a>
</div>
</div>
