
<div class="container">
  <a href="./choisirsonchiot.html" target="blank">
    <div class="card">
      <h2>
        Choisir son chiot
      </h2>
    </div>
  </a>

  <a href="./lecoinapprentissage.html" target="blank">
    <div class="card">
      <h2>
        Le coin apprentissage
      </h2>
    </div>
  </a>

  <a href="./lecoinjeux.html" target="blank">
    <div class="card">
      <h2>
      Le coin jeux
      </h2>
    </div>
  </a>

  <a href="./lecoinveto.html" target="blank">
    <div class="card">
      <h2>
      Le coin véto
      </h2>
    </div>
  </a>

  <a href="./elevage_et_assos.html" target="blank">
  <div class="card">
    <h2>
      Quelques addresses
    </h2>
  </div>
  </a>
</div>
