<header>
      <h1>Le coin jeux</h1>
    </header>
    <div class="container">
      <p id="entete"> Parmis les besoins essentiels au bon devellopement du chien, il y
      a le jeux. En effet, les chiens ont besoins de jouer afin de réflechir, de se défouler, et de
      se rapprocher de vous ou de ses congénères. Pour pouvoir jouer avec son chien il est important de comprendre
      les signaux que votre compagnon vous envoient. Ils vous permettront de comprendre les émotions de votre ami
      comme la peur, l'agressivité, l'envie ou l'excitation. Vous pourrez alors calmez et rassurez votre chien afin que les jeux ne
      soient que plaisirs pour votre duo. N'oubliez pas en fin de partie, de dire stop à votre chien afin qu'il comprenne qu'il n'a plus besoin
    d'être hyper attentif à vous et qu'il peut retourner à ses occupations. </p>
      <div class="box">
        <h2> Les jeux de réflexions</h2>
        <p>Les jeux de réflexions sont des jeux qui obligeront votre chien à être calme
          et ils peuvent se faire à l'interieur. Ils se font souvent avec des friandises afin de souvent féliciter votre chien.
          Quelques exemples:
        </p>
        <ul>
          <li> <h2>Le jeu du cache-cache</h2>
            <p> Pour ce jeux il vaut mieux être deux humains, pendant que l'un reste dans une pièce avec votre animal, l'autre se cache avec dans la main ou dans la poche
              quelques une des friandises préférées. Lorsque vous être prêt, envoyez un signal reconnaissable comme un siflement ou un mot que vous retiendrez et utiliserez
              pour chaque partie de cache-cache. A ce moment, le deuxieme libère le chien en lui disant 'cherche'. Le chien devra bien sûr utiliser son flair pour vous trouvez.
              Pour les premières parties, il faudra surement guider le chien en cherchant avec lui, à chaque fois que vous rentrez dans une pièce repétez lui 'cherche'. La personne cachée peut appeler le chien si celui ci se désinterresse
              du jeu. Une fois qu'il vous a trouvé, félicitez le et donnez lui une friandise. La partie recommence quatre ou cinq fois sauf si le chien se lasse.
            </p>
          </li>
          <li> <h2>Le jeu du gobelet</h2>
            <p> Pour ce jeux, prenez trois gobelets (pas de verres qui pourraient blesser votre chien en se cassant), posez les devant votre chien et faîtes le s'assoir.
              Montrez lui une friandise et cachez la sous un gobelet. Demandez à votre chien 'elle est où?'. L'important est de garder le chien calme sinon il va vous retournez tous les gobelets et le jeu
              à de suite moins d'interets. Ne vous inquietez pas si ça prends un peu de temps et que vous devez repeter à votre chien de s'assoir. Pendant les premières parties avec ma chienne, tous mes gobelets finissaient écrasés.
              Mais elle a vite compris le but du jeu et adore y jouer maintenant. Une fois le but acquis le chien obtient la friandise s'il trouve le bon
              gobelet(celui avec la friandise). Lorsque le jeu devient trop facile pour votre ami, vous pouvez bouger les gobelets après avoir mis la friandise afin de les mélanger pour compliquer les choses.
            </p>
          </li>
          <li> <h2>Le parcours d'obstacle</h2>
            <p> Pour ce jeux, ne vous inquietez pas si vous n'habitez pas dans un château. L'important est d'imaginer un parcours d'obstacle pour votre chien. Faîtes le passez sous des chaises, sautez par dessus des chaises couchées,
              marcher entre des bouteilles de shampooing. L'important est que votre ami reste joyeux pendant tout le parcours, n'hésitez pas à le féliciter et à l'encourager. S'il hesite trop sur un obstacle, passez au suivant, le but est
            vraiment de s'amuser. Vous pourrez travailler dessus pendant la prochaine séance d'apprentissage. Vous pouvez même flécher un chemin en mettant des friandises au sol si votre chien doit passer dans un endroit où il ne vous verra pas. </p>
          </li>
          </ul>
      </div>
      <div class="box">
        <h2> <a href="https://www.kongcompany.com/fr/" target="blank"> Les kongs</a> </h2>
        Les jouets de la marque kong ont la capacité de resister à presque tous les chiens. La gamme de leurs produits se déclinent en plusieurs tailles afin de s'adapter au mieux à la taille de la machoire de votre animal et de limiter les risques
        de blessures. Les couleurs des jouets de bases:
        <ul>
          <li>Bleus et roses pour les chiens qui font leurs dents, le produit possède un plastique souple qui permet une bonne mastication. </li>
          <li>Rouge pour les chiens qui ont un besoin moyen de mastication </li>
          <li>Violet pour les vieux chiens, le plastique resiste à la mastication tout en preservant les gencives de votre vieux toutou</li>
          <li>Noir pour les machoires puissantes ou les chiens aux quels aucun jouet ne résiste.</li>
        </ul>
        <p> La partie la plus intéressante avec les jouets kong est que l'on peut les farcir. Lorsque l'on veut occuper le chien, pendant une absence par exemple, on peut mettre quelques friandises (du commerce ou des bouts de carrottes, n'importe quoi qui ne s'écrasera pas et qui
          passera facilement par le gros trou) à l'interieur et boucher
          les deux trous aux extremites avec une pâte à lécher (perso je mets du kiri), l'important est de bien boucher les trous afin que les friandises ne tombent pas. Votre chien devra donc lécher le blocant afin de pouvoir faire tomber les friandises.
          Leurs site est plein d'astuces, je vous ait mis le lien sur le titre "kong".
        </p>
      </div>
      <div class="box">
        <h2> Les jouets à mâcher</h2>
        <p> Il existe une multitude de jouets à mâcher pour chiens et vous en acheterai surement une multitude au cours de la vie
          de votre animal. Il existe des pouics en plastique souple, ou dur, des balles, des ballons, des cordes, des peluches... L'important
          sera de trouver ceux qui s'adaptent à votre chien en fonction de ce qu'il aime et de sa taille. Dès qu'un jouet est abimé il faut le jeter.
          Les petits morceaux de jouets ou de peluches provoquent des occlusions intestinales et des perforations qui sont extremements dangereuses.
          N'hésitez pas à séparer les jouets, ceux pour l'exterieur (type frisbee ou ballon), ceux qui peuvent rester avec le chien lorsqu'il est seul (kong),
          ceux pour jouer avec vous (corde à tirer) et ceux pour le chien calme(jouet à macher, peluche).
        </p>

      </div>
    </div>
