<header>
      <h1>Le coin véto</h1>
    </header>
    <div class="container" id="veto">
      <div>
        <ul id="vet">
         <a href="./lespoisons.html" target="blank"> <li class="card"> Les poisons</li></a>
         <a href="./leschosesaavoir.html" target="blank">  <li class="card"> Les choses à avoir</li></a>
         <a href="./lentretiencourant.html" target="blank"> <li class="card"> L'entretien courant</li></a>
        </ul>
      </div>
    </div>
