<header>
      <h1>Le coin apprentissage</h1>
    </header>
    <div class="container" id="apprentissage">
      <div class="container_postit">
          <a href="/lesordresdebase" target="blank" class="card-category"> Les ordres de base</a>
          <a href="/lessportscanins" target="blank" class="card-category"> Les sports canins </a>
          <a href="/lestrucsenplus" target="blank" class="card-category"> Les trucs en plus</a>
      </div>
    </div>
