<header>
      <h1>Le coin apprentissage</h1>
    </header>
    <div class="container" id="apprentissage">
      <div class="container_postit">
        <%= link_to "Les ordres de base", lesordresdebase_path, :class=>"card-category" %>
        <%= link_to "les sports canins", lessportscanins_path, :class=>"card-category" %>
        <%= link_to "Les trucs en plus", lestrucsenplus_path, :class=>"card-category" %>
      </div>
    </div>
