<header>
      <h1>Le coin véto</h1>
    </header>
    <div class="container" id="veto">
      <div class="container_postit">
         <a href="/lespoisons" target="blank"class="card-category"> Les poisons</a>
         <a href="/leschosesaavoir" target="blank" class="card-category"> Les choses à avoir</a>
         <a href="/lentretiencourant" target="blank"class="card-category"> L'entretien courant</a>
      </div>
    </div>
