<header>
      <h1>Le coin véto</h1>
    </header>
    <div class="container" id="veto">
      <div class="container_postit">
         <%= link_to "Les poisons", lespoisons_path, :class=>"card-category" %>
         <%= link_to "Les choses à avoir", leschosesaavoir_path, :class=>"card-category" %>
         <%= link_to "L'entretien courant", lentretiencourant_path, :class=>"card-category" %>
      </div>
    </div>
