<header>
      <h1>Le coin apprentissage</h1>
    </header>
    <div class="container" id="apprentissage">
      <div>
        <ul id="ap">
        <a href="/lesordresdebase" target="blank">  <li class="card"> Les ordres de base</li></a>
        <a href="/lessportscanins" target="blank">  <li class="card"> Les sports canins </li></a>
        <a href="/lestrucsenplus" target="blank">  <li class="card"> Les trucs en plus</li></a>
        </ul>
      </div>
    </div>
