  <header>
      <h1>L'entretien courant</h1>
    </header>
    <div class="container">
      <div class="box">
        <h2> Le nettoyage des gamelles et panières</h2>
        <p> Les gamelles de votre compagnons sont de vrais nids à bactérie, il est conseillé de les laver tous les jours pour éviter
            les algues ou les bactéries qui pourraient rendre votre ami malade. Pour la panière, elle ne doit pas sentir mauvais, il faudra
            également la laver si votre animal attrape des puces ou s'il est malade et s'il subit une intervention
            chirurgicale afin de conserver son endroit propre et sain.
        </p>
      </div>
      <div class="box">
        <h2> Les accessoires de toilettage</h2>
        <p> Il est possible que vous ayez craqué sur un chien qui aura besoin de séances de brossages régulières voir quotidienne en periode de mue,
            dans ce cas il est important d'avoir une brosse adapté au poil de votre ami. Un peigne permettra d'enlever les noeuds et une brosse type carde parmettra
            d'enlever le poil mort et de soulager votre compagnon.
        </p>
        <p> Même si votre animal se ballade suffisament, il est possible que vous soyez un jour obliger de lui couper les griffes, un coupe ongle pour chien fera très bien l'affaire,
            il faudra juste habituer le chiot dès son plus jeune âge afin que ce moment ne lui procure pas de stress.
        </p>
      </div>
      <div class="box">
          <h2> La sécurité</h2>
          <p> Si vous prévoyez de sortir votre chien tôt le matin ou tard le soir, il peut être utile
              d'acheter un harnais fluorescent ou un collier à LED pour pouvoir le voir s'il fait trop sombre.
          </p>

      </div>
    </div>
