 <header>
      <h1>Les choses à avoir</h1>
    </header>
    <div class="container">
      <div class="box">
        <h2> Les gamelles</h2>
        <p> Preferez les bols en inox qui ne pourront pas être machouillés, deux bols distinct facilements nettoyables
          et plus de gamelles d'eau si vous devez vous absentez regulierement. Le chien doit toujours avoir de l'eau fraiche et propre
          à disposition car il se deshydrate beaucoup plus vite que nous. </p>
      </div>
      <div class="box">
        <h2> Le panier</h2>
        <p> Que votre chien ait ou non les droit de monter sur le canapé ou sur le lit, il doit avoir un endroit
          à lui ou il pourra s'isoler s'il ne veut pas être déranger et où il pourra se sentir en sécurité quoi qu'il se passe.
          Veillez à installer son panier dans un endroit sans courant d'air, qui ne soit pas dans le passage
        </p>
      </div>
      <div class="box">
        <h2> Le necessaire de sortie</h2>
        <p> Bien que votre chiot ne puisse pas sortir avant d'avoir eu ses premiers vaccins, il est important de l'habituer
          progressivement à la laisse, au collier ou au harnais que vous aurez choisis. Personnellement, je conseille plutôt le harnais
          plutôt que la laisse surtout pour des activités comme la rando ou la course car le collier blesserai le chien. Pour la laisse, évitez les
          laisses à enrouleur et privilégiez une laisse qui vous semble confortable. Pour la longueur il est parfois préférable d'avoir deux laisse et
          une longe histoire de pouvoir s'adapter au type de sortie. Un chien en laisse en ville aura besoin de moins d'allonge qu'un chien qui va se défouler
          et courir en forêt. Et n'oubliez pas les sacs à caca qui feront partie de votre vie au même titre que votre nouveau meilleur ami.
        </p>

        <h2> L'armoire à pharmacie</h2>
        <p> La pince à tique est un indispensable qui s'achète en pharmacie ou chez le vétérinaire. En plus de ça prévoyez de quoi
          désinfecter une plaie (bétadine) et faire un pansement (compresse et bande). En cas de blessure, vous aurez peut être besoin de faire les
          premiers soins en attendant de voir votre médecin. Si vous choisissez de traiter votre chien naturellement contre les puces, vous pouvez également
          prévoir de la terre de Diatomée.
        </p>

        <h2> La caisse de transport</h2>
        <p> Elle n'est pas obligatoire dès l'arrivée du chiot mais il est important
          d'habituer le chien à apprécier sa caisse, surtout si vous pouvez être amené à prendre
          l'avion avec lui. Le plus simple est dans servir comme deuxieme panier en installant
          un coussin dedans avec certains des jouets de votre compagnon pour qu'il puisse y aller
          quand il le souhaite et qu'il associe cet endroit à quelque chose de rassurant.
        </p>

        <h2> Une barrière</h2>
        <p> Lorsque le chiot arrive, il est possible de limiter sa zone de ballade dans la maison, afin d'éviter les endroits trop dangereux
          ou tout simplement d'aérer sans que notre curieuse petite bête aille explorer les jardins des voisins, dans ce cas une barrière pour bébé
          peut être utile.
        </p>

      </div>
    </div>
