<header>
  <h1>Les ordres de base</h1>
</header>
<div class="container">
    <div class="box">
        <p> Il y a quelques petites choses à savoir avant de commencer l'apprentissage de votre compagnon. Premièrement, un chien s'éduque avec de l'amour, du jeux et beaucoup de friandises (voir
            avec un clicker pour les adeptes du clic-clic) mais JAMAIS avec de la violence. Déjà parce que c'est inhumain, et ensuite parceque votre animal aura peur de vous et n'apprendra pas plus vite. Alors armez vous
            de patience, de friandises (oui, encore) et jouez avec votre ami. Si un ordre n'est pas acquis en fin de séance, ce n'est pas grave et aucun de vous deux n'est responsable, certains chiens comme certains humains apprennent
            plus vite que d'autres. Reessayez demain avec une autre méthode, un autre jeux ou un autre ordre et ça finira par rentrer. Et surtout, amusez vous c'est un moment privilégié entre vous.
        </p>
    </div>
  <div class="box">
    <h2> La propreté</h2>
    <p> Votre chiot ne sera surement pas propre ou pas totalement lorsqu'il arrivera chez vous, il est important de lui apprendre la propreté dès son plus jeune âge
        afin d'éviter les problèmes par la suite. Alors on oublie de suite le fait de lui mettre la truffe dans son urine, c'est inutile, barbare et vous allez cramer les terminaisons nerveuses de sa truffe
        à grand coup d'amoniac. Il faut commencer par différencier les pipi physiologiques des pipi psychologiques. Les deuxièmes sont des fuites lorsque l'animal est excité par un jeux ou la peur d'un bruit inconnu par exemple, ils passeront en
        grandissant lorsque votre chien controlera mieux ses muscles. Pour les pipi physiologiques, le but est de mettre votre chiot dans l'herbe pour qu'il fasse ses besoins afin qu'il s'habitue à faire dehors. Oui, mais comment savoir qu'il a envie?
        En regardant votre chiot déjà, il aura souvent tendance à sentir un peu partout, à s'agiter voir à couiner pour vous prévenir qu'il a envie, il y a aussi des moments similaires chez tous les chiots, après manger, en se réveillant d'une sieste, après le jeux...
        Emmenez le dehors dans ces moments là et attendez, dès qu'il a fait ses besoins dehors, félicitez le, n'hesitez pas à exagérer les choses, pour vous ce n'est qu'un pipi mais pour lui c'est la première fois qu'il vous rend heureux en apprenant quelque chose.
    </p>
  </div>
  <div class="box">
      <h2>La solitude</h2>
      <p> Une des choses les plus importantes à apprendre à votre chiot est d'être tranquille lorsque vous n'êtes pas là. Commencez par lui apprendre à restez dans une pièce quand vous êtes dans une autre en
        ne prenant pas votre chien systématiquement avec vous ,voir, si c'est possible en lui interdisant l'acces à une des pièces de la maisons. Une fois que cela est acquis vous pouvez commencez à vous éloignez de la maison, d'abord cinq minutes, puis dix etc...
        Ne parlez pas avec votre chien avant votre départ et ne le félicitez pas lorsque vous rentrez, agissez normalement. Si votre chien vous saute dessus lorsque vous rentrez faites le assoir et attendez qu'il se calme. S'il a fait des dégats il est inutile de le gronder, il ne saura pas ce qu'il a fait de mal et associera
        le fait que vous rentrez au fait de se faire gronder. Isolez le simplement dans une pièce pour qu'il ne vous voit pas ramasser ses betises et reprenez une vie normale. </p>
  </div>
  <div class="box">
      <h2> Le 'assis' et le 'à ta place'</h2>
      <p> Le 'assis', en plus d'être pratique dans certaines situations, vous permet de calmer votre chien et de le rendre plus attentif à ce que vous allez lui demander. Pour l'apprendre à votre chiot, commencez
          par lui montrer une friandise en lui disant '{son nom} assis', dire son nom sert à avoir toute son attention. Une fois l'ordre donné, levez doucement la friandise au dessus de la tête de votre chiot, il devrait naturellement s'assoir pour ne pas la perdre de vue. dès qu'il est assis donnez lui la friandise en lui disant 'c'est bon'( il peut se relever), et félicitez à grands renforts de carresses. Petit à petit, augmenter le temps entre l'ordre et la friandise.
          Si tout se passe bien vous pourrez supprimer les friandises au bout d'un moment et ne garder que les carresses.
      </p>
      <p>
          Le 'à ta place' consiste à dire au chien d'aller dans son panier, ce n'est en aucun cas une punition. Le panier doit rester son endroit à lui, dans lequel il se sent bien. Je m'en sers avec ma chienne surtout quand nous recevons du monde, si je vois qu'elle est stressée parceque les enfants crient ou qu'ils essaient d'être trop sur elle, je lui dit d'aller
          au panier, et j'explique aux enfants que lorsqu'elle est là bas ils ne doivent pas l'approcher. Vous pouvez lui apprendre simplement en l'attirant avec une friandise, lorsque votre animal est dans son panier ou sur son coussin félicitez le en répétant l'ordre et donnez lui la friandise.
      </p>
  </div>
  <div class="box">
      <h2> Le stop </h2>
      <p> Le 'stop' permet d'avoir un ordre qui stop le chien dans son élan, s'il va traverser la route en courant après une proie, s'il mord quelque chose qu'il ne devrait pas ou si il s'enerve trop en jouant. Il sert vraiment d'ordre de sécurité.
          L'apprentissage de cet ordre est un peu differend des autres car il est regulier et reviendra plusieurs fois dans la journée. A la fin du jeux, lorsque vous décidez que c'est fini, montrez votre main ouverte face à la truffe de votre chien et dîtes franchement 'stop', ensuite désinterressez vous de votre compagnon. Lorsque votre chiot grandit vous pouvez également semer des croquettes sur son passages et marcher en laisse avec lui. S'il essaye de manger une
          croquette, dîtes 'stop' fermement. S'il y touche ne dîtes rien mais s'il l'ignore récompensez le avec une friandise et des caresses. Le but étant de lui montrer que s'il renonce à quelque chose qui l'interresse pour vous, il sera d'autant plus heureux.
      </p>
  </div>
  <div class="box">
      <h2> Le rappel </h2>
      <p> Le rappel consiste à pouvoir appeler votre animal dans n'importe quel lieu et quoi qu'il soit en train de faire pour qu'il revienne vers vous. C'est un ordre qui s'apprend en plusieurs étapes, en commençant par l'apprentissage du nom.
        Une fois que votre chiot comprend son nom, vous pouvez commencer à travailler le rappel. Pour commencer, appelez le chien lorsqu'il est occupé, pour le sortir par exemple, s'il ne vient pas forcez les choses en tapant dans vos mains et en prenant une voix joyeuse.
        Lorsque vous aurez un super rappel dans la maison, vous pourrez tester en exterieur. Gardez toujours une longe au sol des fois que votre chien s'enfuit, et refaîte la même chose qu'à la maison. Donnez des friandises à chaque fois que le chien revient vers vous et laissez le retourner jouer.
        Il ne faut pas que le rappel sonne forcément la fin de la ballade. Une fois acquis et si vous êtes sûre de vous, vous pouvez maintenant travailler sans longe de sécurité. Mais rappelez vous que si un chien s'enfuit il vaut mieux courir dans le sens opposé pour qu'il vous suive que de lui courir après.</p>
  </div>
</div>
