  <header>
      <h1>Les poisons</h1>
    </header>
    <div class="container">
      <div class="box">
        <h2> Les médicaments</h2>
        <p> Les médicaments humains sont extremements dangereux pour nos amis les chiens,
            un simple doliprane peut tuer un chien, donc sauf avis vétérinaire, ne donnez jamais
            aucun médicament à votre animal s'il vous plait.
        </p>
      </div>
      <div class="box">
        <h2> Les produits ménagers et les pesticides</h2>
        <p> Les chiens sont naturellements attirés par certaines odeurs fortes, malheureusement ce
            sont souvent les odeurs des liquides vaisselles, des produits d'entretien pour la voiture ou pour
            le ménage. Attention également aux produits anti-moustiques, surtout sous nos lattitude.
        </p>
      </div>
      <div class="box">
        <h2> Les os cuits et les écorces de certains arbres</h2>
        <p>Attention aux os cuits, ils sont friables et peuvent facilement se casser dans l'estomac du chien provoquant des
        perforations necessitant une hospitalisation en urgence et engageant serieusement le pronostic vital de votre animal.</p>
        <p> L'écorce d'arbre comme le bouleau peut être toxique pour un chien, tout comme certaines plantes d'interieur, il faudra être
          particulièrement vigilant avec les chiots qui ont tendance à machouiller leur environnement pour le découvrir. Attention si votre chien se
          prend de passion pour les branches, gardez le toujours sous surveillance quand il joue, les accidents de chiens avec des batons se multiplient ces
          dernières années allant des échardes dans la gorge à la perforation du palais ou de la gorge le plus souvent en jouant à aller chercher le baton. Preferez plutot une balle de taille adaptée à la machoire de
          votre chien ou un freesbee afin d'eviter que les jeux ne tournent au drame.
        </p>
      </div>
      <div class="box">
        <h2> La nourriture</h2>
        <p> Je ne rentrerai pas ici dans le débat de savoir ce qui est le mieux entre le BARF et les croquettes industrielles mais je tenais à faire une petite liste non exhaustive des
          aliments que l'on trouve dans nos assiettes et qui sont toxiques pour nos amis.
        </p>
        <ul>
          <h2> Les aliments très dangereux</h2>
          <li> Le raisin et les raisins secs</li>
          <li> L'avocat </li>
          <li> La cerise </li>
          <li> L'ail </li>
          <li> L'oignon </li>
          <li> La cerise </li>
          <li> La pomme grenade</li>
          <li> Le chocolat</li>
          <li> La levure (pate à pain, à gateau etc...)</li>
          <li> Certaines noix (macadamia par exemple)</li>
          <li> Le café, le thé, l'alcool </li>
          <li> Les groseilles</li>
          <li> Les tiges et feuilles de tomate</li>
          <li> Les noyaus des fruits</li>
        </ul>
        <ul>
          <h2> Les aliments déconseillés</h2>
          <li> Les pommes de terre crues</li>
          <li> Le piment</li>
          <li> Le maïs</li>
          <li> Le celeri</li>
          <li> Le chou</li>
          <li> Le navet</li>
        </ul>
        <ul>
          <h2> Les aliments à donner avec modération</h2>
          <li> L'ananas</li>
          <li> Le brocolis</li>
          <li> La bleuet</li>
          <li> La fraise</li>
          <li> La pomme</li>
          <li> La pastèque (attention à enlever les pepins mais congelée c'est une super friandise)</li>
          <li> Le fromage style kiri ou emmental</li>
          <li> La viande crue (bien fraîche)</li>
        </ul>
        <ul>
          <h2> Les aliments qui font de super friandises</h2>
          <li> La banane</li>
          <li> La carotte</li>
          <li> La poire (sans pépins)</li>
          <li> Le melon</li>
          <li> La citrouille cuite</li>
          <li> La patate douce cuite</li>
        </ul>

      </div>
    </div>
