<header>
      <h1>Les sports canins</h1>
    </header>
    <div class="container">
      <div class="box">
        <h2>L'obé-rythmée</h2>
        <p> Egalement appelé "dog dancing", le chien et son maître dansent ensemble sur de la musique, ils exécutent une chorégraphie qui demande un travail
        serieux tout au long de l'année, et une grande confiance mutuelle. Le chien peut participer quelque soit sa taille, son âge et sa race. C'est une super discipline
        très ludique pour s'amuser avec son chien.</p>
      </div>
      <div class="box">
        <h2> Le sauvetage à l'eau</h2>
        <p> Le sauvetage à l'eau est une discipline sportive et n'est pas reconnu comme utilité publique, c'est un sport qui évalue differents critères comme l'obeissance ou l'endurance à
          la nage et qui n'est ouvert qu'aux chiens inscrit au LOF et uniquement à certaines races( terre-neuve, landseer, leonberg, berger des Tatras, retriever (labrador, golden retriever,
          flat-coated ….), bouvier bernois, terrier noir russe, saint-bernard, berger blanc suisse, hovawart, chien d'eau portugais et tous les chiens d’eau du 8e groupe.)
        </p>
      </div>
      <div class="box">
        <h2> Le cani-cross, le cani-VTT, la cani-rando, le cani-trail</h2>
        <p> Ces disciplines sportives reprennent les principes des sports humains mais en équipe avec son compagnon, ils permettent d'avoir tous les bienfaits de ces sports tout en améliorant l'alchimie entre l'homme et l'animal.
          Elles sont ouvertes à tous sans distinctions et peuvent être pratiqué pour le plaisir ou en compétition. Il faudra s'équiper d'un harnais spécial afin que le chien ne soit pas bloquer dans ses mouvements, d'une laisse
          de deux metres anti-choc(ligne de trait amortie) et d'une ceinture spéciale pour vous à laquelle sera reliée la laisse.
        </p>
      </div>
      <div class="box">
        <h2> L'agility</h2>
        <p> L'agility est un parcours d'obstacle géant pour chien, c'est une discipline très ludique qui permettra de dépenser le chien en le faisant courir et réflechir et qui renforcera beaucoup les liens avec son humain.
          C'est une discipline qui est ouverte à tous les chiens et à tous les humains. Si vous cherchez une discipline qui combine dressage, jeux et sport ne cherchez plus et renseignez vous sur l'Agility.
        </p>
      </div>
    </div>
