<header>
  <h1>Les trucs en plus</h1>
</header>
<div class="container">
  <div class="box">
    <h2> Quelques ordres en plus à apprendre pour s'amuser</h2>
    <p> Le dressage devient vite un moment privilégié avec son compagnon et il est important de ne pas travailler toujours
        les mêmes choses histoire de ne pas se lasser. Voici quelques idées dont vous trouverez surement les tutos sur internet:
    </p>
    <ul class="multicolonne">
      <li> Le coucher</li>
      <li> Le debout</li>
      <li> Le reste</li>
      <li> Fais un calin</li>
      <li> Fais le mort</li>
      <li> Roule</li>
      <li> Fais un bisou</li>
      <li> Aboie</li>
      <li> Fais le beau</li>
      <li> Donne la patte</li>
      <li> Rapporte et donne</li>
      <li> Regarde moi </li>
      <li> Fais AAAAA</li>
    </ul>
  </div>
</div>
