  <header>
      <h1>Quelques élevages et associations en Martinique</h1>
    </header>
    <div class="container">
        <div class="long_card">
            <h2> Les élevages</h2>
            <ul class="long">
              <li class="liste"> La ferme créole (husky)</li>
              <li class="liste"> Les veilleurs de l'Ile aux Fleurs (cane corso) </li>
              <li class="liste"> L’élevage of Sim (golden retrievers)</li>
            </ul>
        </div>
        <div class="long_card">
            <h2> Les associations</h2>
            <ul class="long">
                <li class="liste"> Les manicous bleus</li>
                <li class="liste"> Les sauvetages de Laure & Lina</li>
                <li class="liste"> L'espoir pour une nouvelle vie</li>
                <li class="liste"> Chien Fè Matinik</li>
            </ul>
        </div>
    </div>
