.container{
  margin: 0 auto;
  background-image: linear-gradient(
    0deg,
    #930bcb 0%,
    #0b74cb 50%,
    #0b74cb 50%,
    #ffffff 100%,
  );

}

#apprentissage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 597px;
}

#veto{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 597px;
}

